body {
    background-color: #f0ffff;
    text-align: center;
    font-family: lucida console;
}

h3 {
    color: #5f9ea0;
    font-size: 27px;

}

h1 {
    text-align: center;
    font-size: 62px;
    letter-spacing: 10px;
    margin-bottom: 70px;
}

img {
    width: 60%;
    border-radius: 50%;
    border-color: #f0ffff;
}

.contenedor {
    display: inline-block;
  width: 30%;
  vertical-align: middle;
}


.datos {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    text-align: left;
}
a{
    line-height: 50px;
    text-decoration: none;
    color: black;
}

li {

    line-height: 30px;
}

.enlaces {
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.enlaces:hover {
    text-decoration: solid;
    font-size: 20px;
}